__pycache__/
*.pyc
*.sqlite
wheelhouse/ 

# Ignorar imágenes generadas (fotos de checklist, uploads, etc.)
inventario/static/actividades/*
inventario/static/actividades/**
inventario/static/actividades/*.png
inventario/static/actividades/*.jpg
inventario/static/actividades/*.jpeg
inventario/static/actividades/*.gif
inventario/static/actividades/*.webp

# Si quieres mantener un placeholder para que el directorio exista, crea un archivo .gitkeep
!inventario/static/actividades/.gitkeep
