{% extends 'base.html' %}
{% block title %}{{ 'Editar' if modo=='editar' else 'Nuevo' }} Local{% endblock %}
{% block content %}
<h2 class="h5 mb-3">{{ 'Editar' if modo=='editar' else 'Nuevo' }} Local</h2>
<form method="POST" class="row g-3">
  {{ form.hidden_tag() }}
  <div class="col-md-3">{{ form.local.label(class='form-label') }} {{ form.local(class='form-control') }}</div>
  <div class="col-md-3">{{ form.farmacia.label(class='form-label') }} {{ form.farmacia(class='form-control') }}</div>
  <div class="col-md-3">{{ form.distrito.label(class='form-label') }} {{ form.distrito(class='form-control') }}</div>
  <div class="col-md-3">{{ form.region.label(class='form-label') }} {{ form.region(class='form-control') }}</div>
  <div class="col-12 d-flex gap-2">
    <button class="btn btn-primary">Guardar</button>
    <a href="{{ url_for('web.locales_listar') }}" class="btn btn-secondary">Volver</a>
  </div>
</form>
{% endblock %}
